@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Concert+One&family=Creepster&family=Goblin+One&family=Milonga&family=New+Rocker&family=Old+Standard+TT&family=Pirata+One&family=Ruslan+Display&family=Saira+Stencil+One&family=Sancreek&family=UnifrakturCook:wght@700&display=swap");

body {
  color: white;
  background: black;
  text-align: center;
}

.myContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  h1 {
    font-size: 4rem;
    font-family: "Saira Stencil One";
    padding: 0.5rem;
    span {
      margin: 0 0.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .links {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    .link:link,
    .link:visited {
      padding: 5px 10px;
      font-weight: 100;
      margin: 1rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: border 0.3s;
      &.active {
        font-weight: 500;
      }
    }

    .link:hover,
    .link:active {
      border-bottom: 2px solid #fff;
    }
  }
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-word {
  max-width: 80ch;
  h1 {
    font-size: 3rem;
    font-family: "Pirata One";
  }
  p {
    font-size: 1.3rem;
  }
  .type {
    font-size: 1rem;
    color: $gray-500;
    margin-top: -1rem;
  }

  .additionalInfo {
    font-size: 1rem;
    color: $gray-500;
  }

  .btn {
    box-shadow: none;
    margin-top: 0.5rem;
  }
}

.word {
  background-color: black;
  margin-bottom: 1rem;
  * {
    padding: 0.5rem;
  }

  &-title {
    margin-bottom: 0;
    font-family: "Pirata One";
    font-size: 1.8rem;
  }

  .btn {
    width: 6rem;
    margin: 0 0.5rem;
  }

  &-form {
    min-width: 60ch;
    * {
      margin: 0.5rem 0;
    }
  }
}

.book {
  background-color: black;
  margin-bottom: 1rem;
  * {
    padding: 0.5rem;
  }

  &-title {
    margin-bottom: 0;
    font-family: "Pirata One";
    font-size: 1.8rem;
  }

  .btn {
    width: 6rem;
    margin: 0 0.5rem;
  }

  &-form {
    min-width: 60ch;
    * {
      margin: 0.5rem 0;
    }
  }
}

.login-form {
  min-width: 40ch;
  * {
    margin: 0.5rem 0;
  }
}
